<div class="admin-container">
    <!-- Menu do Topo -->
    <nav class="top-menu navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">KarapinhaXPTO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../assets/person_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="Admin" class="rounded-circle me-2" width="30">
                AdminName
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- Menu Lateral -->
    <div class="side-menu bg-dark">
      <ul class="list-group">
        <li class="list-group-item bg-dark">
          <a class="text-white" href="#">Dashboard</a>
        </li>
        <li class="list-group-item bg-dark">
          <a class="text-white" href="#">Serviços</a>
        </li>
        <li class="list-group-item bg-dark">
          <a class="text-white" href="#">Usuários</a>
        </li>
        <li class="list-group-item bg-dark">
          <a class="text-white" href="#">Relatórios</a>
        </li>
        <li class="list-group-item bg-dark">
          <a class="text-white" href="#">Configurações</a>
        </li>
        <li class="list-group-item bg-dark">
          <a class="text-white" href="#">Perfil</a>
        </li>
        <li class="list-group-item bg-dark">
          <a class="text-white" href="#">Logout</a>
        </li>
      </ul>
    </div>
  
    <!-- Conteúdo Principal -->
    <div class="main-content">
      
    </div>
  </div>
  