
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<div class="principal">
<div class="wrapper">
    <form action="">
        <h1>Karapinha XPTO</h1>
        <div class="input-box">
            <input type="text" placeholder="Nome de Usuario" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Senha" required>
            <i class='bx bxs-lock-alt'></i>
        </div>

        <div class="remember-forgot">
            <label><input type="checkbox">Lembrar Senha</label>
            <a href="#">Esqueci-me da senha</a>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
            <p>Não tem uma conta ? <a href="#">Criar conta</a></p>
        </div>
    </form>
</div>
</div>