<app-menu></app-menu>

<div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image-wrapper">
        <img src="../../../assets/gallery/pexels-olly-3757942.jpg" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-3 text-white mb-4">Bem-vindo ao Nosso Spa</h1>
        <p class="text-white mb-4">Relaxe e desfrute de uma experiência revitalizante.</p>
        <a href="#" class="btn btn-primary py-3 px-5 mt-2">Saiba Mais</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image-wrapper">
        <img src="../../../assets/gallery/pexels-gabby-k-6621253.jpg" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-3 text-white mb-4">Tratamentos Personalizados</h1>
        <p class="text-white mb-4">Cuidados especiais para seu bem-estar.</p>
        <a href="#" class="btn btn-primary py-3 px-5 mt-2">Saiba Mais</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image-wrapper">
        <img src="../../../assets/gallery/pexels-cottonbro-3997989.jpg" class="d-block w-100 carousel-image" alt="...">
      </div>
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-3 text-white mb-4">Ambiente Tranquilo</h1>
        <p class="text-white mb-4">Desfrute de um momento de paz e tranquilidade.</p>
        <a href="#" class="btn btn-primary py-3 px-5 mt-2">Saiba Mais</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section id="services" class="services-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Nossos Serviços</h2>
    <div class="d-flex flex-wrap justify-content-center">
      <app-servicos-tratamentos></app-servicos-tratamentos>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-primary">Ver Mais</button>
    </div>
  </div>
</section>




<app-gallery-photos></app-gallery-photos>
<app-rodape></app-rodape>