#hero-carousel .carousel-item {
    height: 100vh;
    min-height: 300px;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px); /* Adiciona o desfoque */
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  

  /**services section */
  .services-section {
    background: #FFFFFF;
    padding: 50px 0;
  }
  
  .services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .services-section .btn-primary {
    margin-top: 20px;
  }
  
  .services-section .d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  
  